<?xml version="1.0" encoding="utf-8"?>
<module suppressWarnings="true">

<Login f="nodata">
  <Login f="noscroll">
    <User t="list" f="user" l="Control"/>
  </Login>
</Login>

<Control f="nodata">
  <Control>
    <Scan_QR_Code t="button" lq="Record/Record/ID"/>
  </Control>
  <search/>
</Control>

<Record>
  <Record>
    <ID f="id readonly"/>
    <Data/>
  </Record>
</Record>

</module>
